@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('styles.css');
html{
    
    background-image: url('../img/fondo.svg');
    
}
body{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
*{
    font-family:'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:rgb(83, 83, 83);
}

.main-container{
    flex:1;
    height: 100%;
    
}
main{
    margin: 0 auto;
    max-width: 1440px;  
    padding-top: 1rem;  
    
}