@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
.btn, .btn-danger {
  border-radius: 0 !important;
  padding: 0rem 0.5rem;
  color: white;
  font-weight: 500;
  background-color: #4D97AF;
}
.btn:hover, .btn-danger:hover {
  background-color: #2b819e;
}

input[type=submit] {
  border-radius: 0;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.btn-danger {
  background-color: #f57d74;
}
.btn-danger:hover {
  background-color: #f14545;
}

.table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
}
.table th, .table td {
  padding: 0.5rem;
  border: 1px solid #B4B4B3;
  border-collapse: collapse;
}
.table tbody thead {
  color: white;
}
.table tbody thead th {
  padding: 0.5rem;
}
.table tbody td {
  text-align: right;
}

.form {
  box-sizing: content-box;
  background-color: white;
  padding: 1rem;
  border: 1px solid #B4B4B3;
  display: flex;
  width: 420px;
  flex-direction: column;
}
.form a {
  border-radius: 0;
}
.form input, .form select {
  padding: 0.2rem;
  margin-bottom: 20px;
  height: -moz-min-content;
  height: min-content;
}
.form input[type=submit], .form select[type=submit] {
  height: -moz-min-content;
  height: min-content;
}
.form select {
  height: -moz-min-content;
  height: min-content;
}
.form button {
  padding: 3.2px;
}

.form-line {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-line label {
  margin-right: 5px;
}
.form-line input, .form-line select {
  margin-right: 1rem;
}
.form-line input[type=submit], .form-line select[type=submit] {
  height: -moz-min-content;
  height: min-content;
}